html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Bad Script", cursive;
  font-family: "Playfair Display", serif;
  font-family: "Young Serif", serif;
}

.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: rgb(255, 147, 26);
  background: -moz-linear-gradient(
    128deg,
    rgba(255, 147, 26, 1) 8%,
    rgba(251, 229, 103, 1) 100%
  );
  background: -webkit-linear-gradient(
    128deg,
    rgba(255, 147, 26, 1) 8%,
    rgba(251, 229, 103, 1) 100%
  );
  background: linear-gradient(
    128deg,
    rgba(255, 147, 26, 1) 8%,
    rgba(251, 229, 103, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff931a",endColorstr="#fbe567",GradientType=1);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgb(46, 46, 46);
  color: white;
  margin: 4rem 0 8rem 0;
}

label {
  font-size: 1.6rem;
}

input {
  font-size: 1.4rem;
}

.btn {
  background-color: orange;
  font-size: 1.4rem;
  height: 4rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 1px solid white;
}

.btn:hover {
  cursor: pointer;
}

#btnGenerateNames {
  margin-top: 2rem;
}

#names-wrapper {
  display: flex;
  width: 80vw;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
}

li {
  margin: 1rem 2rem;
  font-size: 1.4rem;
}

li:after {
  position: relative;
  top: 0;
  left: 0;
  background-color: blanchedalmond;
  height: 8rem;
  width: 16rem;
}

p {
  left: -10rem;
  font-size: 1.4rem;
  background-color: red;
}

.u-col {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

button {
  margin-bottom: 1rem;
  height: 2rem;
}

.tooltip {
  display: none;
  color: orange;
  font-size: 1.4rem;
  margin-left: 1rem;
}

li:hover {
  cursor: pointer;
}
